nav {
    background-color: green;
    padding : 15px;
    color: rgb(255, 255, 255);
    display:flex;
    align-items: center;
    gap: 10px;
}

a {
    color: white;   
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

h1 {
    text-align: center;
}

h2 {
    margin-left: 50px;
    margin-right: 50px;
    font-weight: lighter;   
    text-align: center;
}

h3 {
    margin-left: 50px;
    margin-right: 50px;
}

h4 {
    margin-left: 50px;
    margin-right: 50px;
}

h5 {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 15px;
    font-weight: lighter;
}

p {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 14px;;
}

li {
    margin-left: 55px;
    margin-right: 50px;
    font-size: 14px;
}

table {
    color: white;
    outline: 5px;
    outline-color: black;
    margin-left: 50px;
    margin-right: 50px;
    background-color: green;
}